In [8]:
!pip install talib-binary --quiet

In [9]:
!pip install yfinance --quiet

     |████████████████████████████████| 62 kB 1.2 MB/s
     |████████████████████████████████| 6.4 MB 11.4 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

In [10]:
import talib
import yfinance as yf

In [14]:
data = yf.download("TCS", start="2020-01-01", end="2020-11-01")

[*********************100%***********************]  1 of 1 completed

In [15]:
data.head()

            Open  High   Low  Close  Adj Close  Volume
Date
2020-01-02  4.29  4.37  4.17   4.27   3.991522  142800
2020-01-03  4.22  4.32  4.18   4.28   4.000870  141500
2020-01-06  4.23  4.46  4.20   4.45   4.159782  118500
2020-01-07  4.44  4.45  4.31   4.39   4.103695  104500
2020-01-08  4.36  4.45  4.33   4.34   4.056957  213400

In [16]:
morning_star = talib.CDLMORNINGSTAR(data['Open'], data['High'], data['Low'], data['Close'])
engulfing = talib.CDLENGULFING(data['Open'], data['High'], data['Low'], data['Close'])

data['Morning Star'] = morning_star
data['Engulfing'] = engulfing

In [17]:
engulfing_days = data[data['Engulfing'] != 0]
engulfing_days

,Open,High,Low,Close,Adj Close,Volume,Morning Star,Engulfing
Date,,,,,,,,
2020-01-24,4.59,4.59,4.22,4.22,3.944782,195000,0,-100
2020-02-05,4.50,4.72,4.13,4.17,3.898044,537600,0,-100
2020-02-11,4.03,4.16,3.99,4.13,3.860652,156200,0,100
2020-02-25,4.11,4.11,4.04,4.05,3.785870,226300,0,-100
2020-03-19,1.99,2.33,1.93,2.32,2.168696,326400,0,100
2020-03-23,2.62,2.62,2.38,2.47,2.308913,181900,0,-100
2020-04-08,2.09,2.39,2.09,2.30,2.300000,269700,0,100
2020-04-23,1.98,2.12,1.97,2.05,2.050000,304000,0,100
2020-05-19,2.12,2.16,2.04,2.07,2.070000,178800,0,-100
2020-06-04,3.05,3.36,3.04,3.25,3.250000,186000,0,100
2020-07-13,4.20,4.20,3.71,3.72,3.720000,437300,0,-100
2020-08-19,3.35,3.69,3.35,3.64,3.640000,303400,0,100
2020-09-25,6.25,6.45,5.98,6.12,6.120000,606400,0,-100
2020-10-12,8.63,8.74,8.42,8.49,8.490000,447400,0,-100
2020-10-13,8.48,9.09,8.30,8.75,8.750000,695500,0,100
2020-10-21,11.21,11.88,8.94,8.95,8.950000,6739000,0,-100
2020-10-29,8.81,9.78,8.81,9.55,9.550000,1181900,0,100

###In the above table -ve values shows **bearish** engulfing and +ve values shows **bullish** englfing pattern.